*.*~
Makefile
config.h
config.log
config.status
libtool
stamp-h1

# executable files
skkdic-count
skkdic-expr
skkdic-expr2
skkdic-sort

# Autotools
/aclocal.m4
/autom4te.cache/
/config.h.in
/Makefile.in
/configure
/compile
/config.guess
/config.sub
/depcomp
/ltmain.sh
/missing
/mkinstalldirs

# object files
/.deps/
/skkdic-count.o
/skkdic-expr.o
/skkdic-sort.o
/skkdic_expr2-skkdic-expr2.o
