*.*~
Makefile
config.h
config.log
config.status
libtool
stamp-h1

# executable files
skkdic-count
skkdic-expr
skkdic-expr2
skkdic-sort

# Autotools
/aclocal.m4
/autom4te.cache/
/config.h.in
/Makefile.in
